.card{
    padding: 30px;
}



.cardbotão{
    margin: 10px 10px 0px 0px;
}

.card{
    display: flex;
}

.card{
    margin-right: 10px
}

.classificação{
    margin: 10px 10px 10px 0px;
}

.tcomentario{
    margin: 30px 0px 0px 0px;
}
