body{
    background-color: rgba(255, 255, 255, 0.5); /* Cor branca com 50% de transparência */
}


.card-group {
    gap: 1cm;
}

.card-group {
    padding: 30px; 
}

.cadastro {   
        margin: 10px 10px ;
}

.Pesquisar {
    margin: 1px 400px ;
}

.cardbotão{
    padding: 30px;
}
